<?xml version="1.0"?>

<launch>

  <arg name="limited" default="false"/>
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur10_robot.urdf.xacro' limited:=$(arg limited)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=true" />

  <!-- Launch visualization in rviz -->
  <arg name="rvizconfig" default="$(find ur10_robot)/rviz/ur10_cfg.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

</launch>
